.hidden {
    display:none
}

#Mon_10_on{
    font-size:69%;
}
#Mon_10_off{
    font-size:69%;
}

#Tue_10_on{
    font-size:69%;
}
#Tue_10_off{
    font-size:69%;
}

#Wen_10_on{
    font-size:69%;
}
#Wen_10_off{
    font-size:69%;
}
#Thu_10_on{
    font-size:69%;
}
#Thu_10_off{
    font-size:69%;
}
#Fri_10_on{
    font-size:69%;
}
#Fri_10_off{
    font-size:69%;
}
#Sat_10_on{
    font-size:69%;
}
#Sat_10_off{
    font-size:69%;
}
#Sun_10_on{
    font-size:69%;
}
#Sun_10_off{
    font-size:69%;
}
